:root {
  --background-main-color: #ffffff;
  --background-second-color: #2f303a;
  --background-third-color: #f5f4fa;
  --title-main-color: #ffffff;
  --title-second-color: #212121;
  --text-main-color: #212121;
  --text-second-color: #757575;
  --text-third-color: #ffffff;
  --btn-main-color: #2196f3;
  --btn-second-color: #f5f4fa;
  --btn-accent-color: #188ce8;
  --btn-text-color: #ffffff;
  --btn-second-text-color: #212121;
  --header-footer-accent-color: #2196f3;
  --logo-first-text-color: #000000;
  --logo-second-text-color: #2196f3;
  --logo-third-text-color: #ffffff;
  --footer-tel-mail-color: rgba(255, 255, 255, 0.6);
  --icon-soc-main-color: #afb1b8;
  --icon-soc-accent-color: #ffffff;
  --icon-soc-bg-main-color: #ffffff;
  --icon-soc-bg-footer-color: rgba(255, 255, 255, 0.1);
  --icon-soc-bg-accent-color: #2196f3;
  --icon-clients-logo-main-color: #afb1b8;
  --icon-clients-logo-accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-main-color);
  color: var(--text-main-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:focus {
  outline: thin dotted;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  width: 100%;
  padding: 94px 0;
}

/*-------------------HEADER-----------------*/
.header {
  align-items: baseline;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-first-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo-color {
  color: var(--logo-second-text-color);
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-nav-item {
  margin-right: 50px;
}

.header-nav-item:last-child {
  margin-right: 0;
}

.header-nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  right: 0;

  background-color: currentColor;
  border-radius: 2px;
}

.header-list {
  display: flex;
  margin-left: auto;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current,
.header-nav-link:hover,
.header-nav-link:focus,
.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--header-footer-accent-color);
}

.header-mail .header-icon-mail,
.header-tel .header-icon-tel {
  fill: currentColor;
  margin-right: 10px;
}

/*---------------------HERO--------------------*/

.hero-section {
  background-color: var(--background-second-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-main-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  margin: 0 auto;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--btn-main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: var(--btn-accent-color);
}

/*---------------FEATURES-----------------*/

.features-section {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
}

.features-item {
  margin-right: 30px;
  width: 270px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--title-second-color);
}

.features-item-text {
  line-height: 1.71;
  color: var(--text-second-color);
}

.features-item-box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-third-color);
}

.features-item-icon {
  fill: currentColor;
}

/*----------------SERVICES------------------*/
.services-section {
  width: 100%;
  padding-bottom: 94px;
}

.services-section-container {
  display: block;
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-second-color);
  margin-bottom: 50px;
}
.services-list {
  display: flex;
}

.services-item {
  margin-right: 30px;
  position: relative;
}

.services-item:last-child {
  margin-right: 0;
}

.services-overlay-text {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-main-color);
  background: rgba(47, 48, 58, 0.8);
}

.services-img-1 {
}

.services-img-2 {
}

.services-img-3 {
}

/*------------------TEAM-------------------*/

.team-section {
  width: 100%;
  background-color: var(--background-third-color);
}

.team-section-container {
  flex-direction: column;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-second-color);
}
.team-list {
  display: flex;
}

.team-item {
  margin-right: 30px;
  background-color: var(--background-main-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-item-text-wrap {
  display: block;
  width: 270px;
  padding: 30px 0;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-second-color);
  margin-bottom: 10px;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-second-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background: var(--icon-soc-bg-main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-clients-logo-main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--icon-soc-bg-accent-color);
  fill: var(--icon-soc-accent-color);
}

/* (first option for total hover/focus on the icon and their bg)

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--icon-soc-bg-accent-color);
}

.team-soc-link:hover .team-soc-icon {
  fill: var(--icon-soc-accent-color);
}

.team-soc-link:focus .team-soc-icon {
  fill: var(--icon-soc-accent-color);
}
*/

/*----------------CLIENTS-LOGOS---------------*/
.clients-section {
  width: 100%;
}

.clients-container {
  display: block;
}

.clients-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-second-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-clients-logo-main-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--icon-clients-logo-accent-color);
}

/*------------------FOOTER-----------------*/

.footer-section {
  background-color: var(--background-second-color);
  padding: 60px 0;
}

.footer-general-container {
  display: flex;
  align-items: baseline;
}

.footer-address-container {
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-third-text-color);
}

.footer-logo-color {
  color: var(--logo-second-text-color);
}
.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item {
  margin-bottom: 9px;
  padding: 0;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-contacts-map {
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-mail,
.footer-contacts-tel {
  font-weight: 400;
  line-height: 1.71;
  color: var(--footer-tel-mail-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-map:hover,
.footer-contacts-map:focus,
.footer-contacts-mail:hover,
.footer-contacts-mail:focus,
.footer-contacts-tel:hover,
.footer-contacts-tel:focus {
  color: var(--header-footer-accent-color);
  cursor: pointer;
}

.footer-soc-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-main-color);
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background: var(--icon-soc-bg-footer-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-soc-accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--icon-soc-bg-accent-color);
}

/*---------------MODAL-----------------*/

.backdrop {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero-modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--background-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .hero-modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.hero-modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*-----------------PORTFOLIO-BTN------------------*/

.portfolio-section {
}

.portfolio-section-container {
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item {
  margin-right: 8px;
}

.portfolio-btn-item:last-child {
  margin-right: 0;
}

.portfolio-btn {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--btn-second-text-color);
  background-color: var(--btn-second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn.active,
.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active {
  background-color: var(--btn-main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--btn-text-color);
}

/*-----------------PORTFOLIO-PROJECTS----------------*/

.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-projects-item {
  flex-basis: calc((100% - 60px) / 3);
  width: 370px;
}

.portfolio-projects-link:hover .portfolio-projects-overlay-text,
.portfolio-projects-link:focus .portfolio-projects-overlay-text {
  transform: translateY(0);
}

.portfolio-projects-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-projects-overlay-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  color: var(--text-third-color);
  font-size: 18px;
  line-height: 1.5;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects-link:hover,
.portfolio-projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-projects-text-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-second-color);
  margin-bottom: 4px;
}

.portfolio-projects-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-second-color);
}
