:root {
  --background-main-color: #ffffff;
  --background-light-color: #f4f4fd;
  --background-modal-color: #f5f4fa;
  --text-body-color: #434455;
  --text-second-color: #f4f4fd;
  --title-hero-color: #ffffff;
  --title-main-color: #2e2f42;
  --logo-first-text-color: #4d5ae5;
  --logo-second-text-color: #2e2f42;
  --logo-third-text-color: #f4f4fd;
  --btn-main-color: #4d5ae5;
  --btn-text-color: #ffffff;
  /* Font */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  /* Not updated */
  --text-third-color: #ffffff;
  --btn-second-color: #f5f4fa;
  --btn-accent-color: #188ce8;
  --btn-second-text-color: #212121;
  --header-footer-accent-color: #2196f3;
  --footer-tel-mail-color: rgba(255, 255, 255, 0.6);
  --icon-soc-main-color: #afb1b8;
  --icon-soc-accent-color: #ffffff;
  --icon-soc-bg-main-color: #ffffff;
  --icon-soc-bg-footer-color: rgba(255, 255, 255, 0.1);
  --icon-soc-bg-accent-color: #2196f3;
  --icon-clients-logo-main-color: #afb1b8;
  --icon-clients-logo-accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  color: var(--text-body-color);
  font-size: 16px;
  letter-spacing: 0.02em;
  background-color: var(--background-main-color);
}
